@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.profile  {
    width: 70%;
    text-align: left;
    margin: auto;
    font-style: normal;
    /* line-height: 9rem; */
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.profile-name {
    letter-spacing : -0.5px; 
    font-weight : 400;
    font-size : var(--text-lg);
    line-height : 9.7rem;
}

.profile-pic-container {
    width: 20rem;
    height: 20rem;
    /* background: #763CAC; */
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}

.profile-pic {
    width: 20rem;
    height:20rem;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}

.profile span{
    color: #7127BA;
}

.profile-descrption {
    display: flex;
    gap:2rem;
    letter-spacing: -0.5px;
    margin-top: 0px;  
}

.profile-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-tag-initial {
    font-size: var(--text-md);
    line-height: 3.1rem;
/* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
}

.profile-tag-main {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl);
    align-items: center;
    letter-spacing: 0.02em;
}

.profile-tag-line {
    font-size: var(--text-xs);
    line-height: 2.0rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    margin-top: 4rem;
}

.aboutme-heading {
    font-family: 'Preahvihear';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: var(--text-4xl);
    /* line-height: 9rem; */
    margin-top: var(--text-5xl);
}
.aboutme-sub-heading {
    font-size: var(--text-3xl);
    line-height:  var(--text-2xl);
    margin-bottom: 9rem;
    letter-spacing: 0.02em;
}

.aboutme-text {
    font-size: var(--text-3xl);
    line-height:  var(--text-5xl);   
    letter-spacing: 0.02em;
}

.profile-container {
	display:flex;
	justify-content:space-around;
	padding:0rem 5rem;
	font-family: 'Poppins';
}

.profile-title-left{
	text-align:left;
	width:33%;
}
.profile-title-left-section {
	display:flex;
	flex-direction:column;
	gap:2rem;
	width:100%;
	margin-left:10rem;
	justify-content:center;
	margin-left:7rem;
	margin-top:25rem;
	
}

.profile-svg-right {
	width:66%
}
.profile-image-svg {
	max-width:100%;
	height:auto;
	padding:4rem;
}

.profile-title {
	font-size: 3.25rem;
    line-height: 3.5rem;
	font-weight:600;
}

.profile-sub-title {
	font-size: 2.875rem;
    line-height: 3.25rem;
	margin-bottom:2rem;
	color:rgb(229 231 235);
}

.view-resume--btn:hover{
	background-color:rgb(113, 39, 186)
}

@media (max-width: 32rem) {
	.profile-container {
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	.profile-title-left{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		gap:1rem;
		width:100%
	}

	.profile-svg-right {
		width:100%
	}
	
	.profile-title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
	.profile-sub-title {
		font-size:1.1rem;
		line-height:1.25rem;
		margin-bottom:.5rem;
	}
	.profile-title-left-section {
		margin-left: 0rem; 
		align-items: center;
		margin-top: 5rem;
	}
	
    .profile{
        width: 90%;
    }
    .profile-pic{
      width: 8rem;
      height: 8rem;
    }
    .profile-pic-container {
        width: 8rem;
        height: 8rem;
    }
    .aboutme-sub-heading {
        margin-bottom: 3rem;
    }
    .profile-tag-main {
        margin-bottom: 1rem;
    }
    .profile-tag-line{
        margin-top: 0rem;
        font-size: 0.4rem;
    }
	.aboutme-text {
	margin-bottom:3rem;
	}
}

